h1{
    text-align: center;
    text-transform: uppercase;
    color:whitesmoke;
   overflow: hidden;
    float:;
}
img{
    width:150px;
    height:100px;
    float:left;
    
}
#vid  video  {

  width:290;
    height:176;
   padding:20px;
   background-color: black;
  float:left;
  padding: 20px;
  font-size: 30px;
  text-align: center;   
    border: 1px solid white;
}
#vid  {box-shadow: 10px 10px 20px;
         display:inline-block;
    
}
p{ background-color: black;
    text-align: center;
   text-transform: capitalize;
     font-weight:bolder;
border:2px solid black;
    color:white;
padding:20px;
font-size:10pt;
white-space:1px;
         
}
#main{
    border:1px solid white;
        padding:20px;
    background-color: black;
    width:100%
}
#main2{
    border:1px solid black;
      width:100%;
        padding:20px;
  
     background-color: black;
}
p:hover{
    color:red;
}
a{text-decoration: none;
    color:white;
}
body{
   background-color: black
}
.navbar {
  overflow:hidden;
  background-color:black;
  position:inherit;
  color:white;
height:10%;
   
}
#main3{
      border:1px solid black;
      width:100%;
        padding:20px;
  
     background-color: black;
}



    

